{% extends "base.html.twig" %}
{% block title 'Tous nos biens' %}

    
{% block body %}
    <div class="jumbotron text-center">
        <h1>Tous nos biens</h1>
        <button class="btn-danger">Bonjour</button>
    </div>
{% endblock %}